@model GYM_APP.ViewModels.UsersVMs.CreateUserViewModel

@{
    ViewData["Title"] = "Add New User";
}

<div class="container mt-4">
    <h4>Add New User</h4>
    <form asp-action="Create" method="post">
        <partial name="_Form" model="Model" />

        <button type="submit" class="btn btn-success mt-3">
            <i class="fas fa-save"></i> Save
        </button>
        <a asp-action="Index" class="btn btn-secondary mt-3">Back</a>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}