@model GYM_APP.ViewModels.UsersVMs.EditUserViewModel

@{
    ViewData["Title"] = "Edit User";
}

<div class="container mt-4">
    <h4>Edit User</h4>
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="UsersId" />
        <partial name="_Form" model="Model" />

        <button type="submit" class="btn btn-warning mt-3">
            <i class="fas fa-edit"></i> Update
        </button>
        <a asp-action="Index" class="btn btn-secondary mt-3">Back</a>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}